*,
*::before,
*::after {box-sizing: border-box;}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;}
 ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
        }
img {display: block;}

body {font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
    font-style: normal;
     }

ul {list-style-type: none;}
h3 {color: #2E2F44;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}

/*======HEADER======*/
header {border-bottom: 1px solid #E7E9FC;}
 .section {
     display: flex;
     padding-top: 120px;
     padding-bottom: 120px;
 }
.container {
    margin: 0 auto;
    width: 1158px;
    flex-wrap: wrap;
    padding-right: 15px;
    padding-left: 15px;
    }

.conthead {
    display: flex;
    align-items: center;
    justify-content: space-between;}    
.navi {display: flex;
    align-items: center;
}
.nav-list {display: flex;}
.nav-list .nav-list-el {padding: 24px 40px 24px 0;}
.nav-list:last-child { padding-right: 0;}
.akcent {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    }

.logo {
        padding-right: 76px;
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
    }


.nav-list-el .nav-list-item {
color: #2e2f42;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
 }
.nav-list-el .nav-list-item:hover,
.nav-list-el .nav-list-item:focus{color: #404bbf;}
.nav-list-el .nav-list-item:active{color: #404bbf;
text-decoration: underline;
}
.adress-ul { display: flex;
}
.adress-ul .item:first-child {padding-right: 40px;}
.adress {font-style: normal;
}
.adress .item .contact {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
 }
 .adress .item .contact:hover,
 .adress .item .contact:focus{color: #404bbf;}

/*=====H1111=====*/

.sec {background-color: #2e2f42;
flex-direction: column;
align-items: center;
}

.main .sec .title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding-bottom: 32px;}

.but {
    display: inline-flex;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.but:hover,
.but:focus {background: #404BBF}

/*=====ABOUT=====*/

.about .title-about {visibility: hidden;}
.about-ul {display: flex;
    gap: 24px;
}
.about-li {display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: 0;
    gap: 8px;
    width: calc((100% - 72px) / 4);
}
.about .benefit {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}

.about .text {color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

/*=====OURTEAM=====*/

.team {background-color: #F4F4FD;}
.group {justify-content: center;}
.container .team-title {color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height:1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
   }
.list {
       display: flex;
       flex-wrap: wrap;
       gap: 24px;}
.list .person {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
}
.team-img {margin-bottom: 32px;}
.person-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    gap: 8px;}
.person .member{
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
   }

.person .prof {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing:0.02em;
   }

/*======PORTFOLIO=======*/
.our-port
{margin: 0 auto 72px;}
.port-ul {display: flex;
          flex-wrap: wrap;
            gap: 48px 24px;
            margin: 0 auto;
}
.port-ul .elements {
    display: flex;
    width: calc((100% - 48px) / 3);
    flex-shrink: 0;
    border: 1px solid  #E7E9FC;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;}
.portfolio {background-color: #FFFFFF;}
.img-port {padding-bottom: 32px;
           flex-shrink: 0;}
.products {padding: 0 16px 8px;}
.prod-text {padding: 0 16px 32px;}
.portfolio .our-port {color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
   }
.portfolio .elements .products {
        color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.portfolio .elements .prod-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/*=====FOOTER=====*/
.foot { background-color: #2e2f42;
}
.cont-foot {
    flex-direction: column;
    justify-content: center;
    gap: 17.5px;
    padding-top: 101.5px;
    padding-bottom: 100px;}

.foot .akcent { color: #f4f4fd;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.foot .foot-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}