*,
*::before,
*::after {box-sizing: border-box;}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;}
 ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
        }
img {display: block;}

body {font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
    font-style: normal;
     }

ul {list-style-type: none;}
h3 {color: #2E2F44;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}

/*======HEADER======*/
header {border-bottom: 1px solid #E7E9FC;}
.container {
    margin: 0 auto;
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    }

.conthead {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;}    
.navi {display: flex;
    align-items: center;
}
.nav-list {display: flex;
           gap: 40px;}

.nav-list .nav-list-el .nav-list-item {
    padding: 24px 0;
    display: block;
}

.akcent {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    }

.logo {
        margin-right: 76px;
        color: #4D5AE5;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
    }
.nav-list-item {
color: #2e2f42;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
 }
.nav-list-el .nav-list-item:hover,
.nav-list-el .nav-list-item:focus{color: #404bbf;}
.nav-list-el .nav-list-item:active{color: #404bbf;
text-decoration: underline;
}
.adress-ul { display: flex;
             gap: 40px;
}

.adress {font-style: normal;
}

.item .contact {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
 }
 .adress .item .contact:hover,
 .adress .item .contact:focus{color: #404bbf;}

/*=====H1111=====*/

.sect-main {
    padding: 188px 0;
    background-color: #2e2f42;
}
.sec-cont {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
 .title {
    max-width: 496px;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding-bottom: 32px;}

.but {min-width: 169px;
    height: 56px;
    display: block;
    margin: auto;
    border-radius: 4px;
    background-color: #4d5ae5;
    color: #FFFFFF;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
}
.but:hover,
.but:focus {background: #404BBF}

/*=====ABOUT=====*/

.about {padding: 120px 0;}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.about-ul {display: flex;
    gap: 24px;
}
.about-li {display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-left: 0;
    width: calc((100% - 72px) / 4);
}
.about .benefit {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.about .text {color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

/*=====OURTEAM=====*/

.sect-team {
    background-color: #F4F4FD;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 120px 0;
}
.group {display: flex;
    flex-wrap: wrap;
    justify-content: center;}
.container .team-title {color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height:1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
   }
.list {
       display: flex;
       flex-wrap: wrap;
       gap: 24px;}
.list .person {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.person-cont {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    }
.member{
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
   }

.prof {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing:0.02em;
    text-align: center;
   }

/*======PORTFOLIO=======*/
.portfolio {padding: 120px 0;}
.our-port
{margin: 0 auto 72px;}
.port-ul {display: flex;
          flex-wrap: wrap;
            gap: 48px 24px;
            margin: 0 auto;
}
.port-ul .elements {
    width: calc((100% - 48px) / 3);
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;}
.portfolio {background-color: #FFFFFF;}
.img-port {flex-shrink: 0;}
.elements .el-title { 
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    background-color:  #FFFFFF;
    border-top: none;
}        

.portfolio .our-port {color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
   }
.portfolio .elements .products {
        color: #2e2f42;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
}
.portfolio .elements .prod-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/*=====FOOTER=====*/
.foot { 
    background-color: #2e2f42;
    padding: 100px 0;
}

.foot .container .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.foot .container .akcent { color: #f4f4fd;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.foot .container .foot-text {
    max-width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}